

.paren-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.logo {
    padding: 10px;
}
.logo h1 {
    font-size: 35px;
    color: var(--logoMediaColor);
}

nav {
    display: flex;
    gap: 20px;
}

nav a.active {
    color: var(--titleColor);
    background-color: var(--linkColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}